@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");
$font-open-sans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-volkhov: 'Volkhov', serif;